/** @format */
:root {
	--padding-sm: 0.4rem;
	--padding-md: 0.8rem;
	--gap-sm: 0.4rem;
	--gap-md: 0.8rem;
	--gap-lg: 1.2rem;
}

a {
	text-decoration: none;
}

a.active {
	text-decoration: underline;
	font-weight: bold;
}

a:not(.active) {
	opacity: 0.7;
}

a:not(.active):hover {
	opacity: 1;
}
