/** @format */

.Navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.Navbar__Links {
	display: flex;
	justify-content: space-around;
	gap: 0.4rem;
}
